img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#request {
  flex-grow: 10;
}

#submitBtn {
  flex-grow: 1;
}
